/*------------------------- Menu de hamburguesa ---------------------------*/

@media screen and (max-width: 768px) {

    header .nav-movil {
        background-color: #F4F2EF;
        width: 100%;
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 4%;
    }

    header .chbtn {
        display: block;
    }

    header .nav-movil a{
        display: block;
        width: 40%;
    }

    header .nav-movil a img{
        width: 100%;
    }

    #ex {
        display: none;
        color: #009EDB;
        font-size: 4rem;
    }

    #bur {
        color: #009EDB;
        font-size: 4rem;
    }

    header nav {
        width: 70%;
        height: 100%;
        margin: 0;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: normal;
        position: fixed;
        top: 0;
        left: -100%;
        overflow: auto;
        background-color: #009EDB;
        transition: all .5s;
    }

    header nav ul li a{
        text-decoration: none;
        color: #ffffff;
    }

    header nav ul .img-logo{
        display: none;
    }

    header nav a {
        font-size: 1.8rem;
        padding: 5% 15%;
        margin-top: 10%;
        color: #F4F2EF;
        transition: .2s;
    }
    
    header nav a:hover {
        background-color: #99ac77;
    }

}